body {
  background-color:$brand-primary;
  overflow: hidden;

  &.balls {
    background-image:url('../images/balls.png');
    background-position:center;
  }

  &.home {

    .circle {
      

      &.enter {
        top: -90px;
        left:300px;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
        box-shadow: none;
      }
    }

    h1 {
      margin-top:40px;
    }
  }

  .circleposition {
    position:relative;
    height:auto;
    text-align: center;
  }

  .logo {
    position:absolute;
    top:20px;
    right:20px;
  }

  footer {

    a {
    color:$brand-yellow;
    font-size: 36px;
    margin:0 0 20px 20px;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

h1 {
  color:$brand-primary;
  font-family: $font-family-noblee;
}

small {
  color: $brand-primary;
  font-family: $font-family-noblee;
}

.page-header {
  background-color:#30bbc0;
}

.mainContent {
  background:$brand-primary;


}

.list-group {
  background-color:$gray-darker;
}

.vcenter {
  display: table-cell;
  vertical-align: middle;
}

.circle {
  border-radius: 50%;
  width: 500px;
  height: 500px;
  padding:90px;
  -moz-box-shadow: 0 0 49px 49px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0 0 49px 49px rgba(0,0,0,0.1);
  box-shadow: 0 0 49px 49px rgba(0,0,0,0.1);
  text-transform: uppercase;
  position:relative;
  display: table;

  &.yellow {
    background-color:$brand-yellow;
  }

  &.intro {
    left:-50px;
    top:100px;
  }

  

  p {
    font-size:40px;
    color:$brand-primary;
    line-height:38px;
    font-family: $font-family-sans-serif;
  }

  a {
    display: block;
    text-transform: uppercase;
     &.primary {
      font-size: 46px;
     }
     &.link {
      font-size: 34px;
     }
  }

  &.enter {
    width:362px;
    height:362px;
    padding:30px;
  }

  h1 {
    margin:0 auto;
    display:inline-block;
    vertical-align:middle;
    font-size: 120px;
    line-height:80px;
  }

  small {
    font-size: 58px;
    display:inline-block;
    vertical-align:middle;
  }
}

